.auto-update-container{
    text-align: center;
    margin-top: 50px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}

a.check-update,
a.check-update:visited{
    background-color: #1a73e8;
    color: white;
    cursor: pointer;
    padding: 5px 7px;
    border-radius: 4px;
}

a.check-update:hover{
    background-color: #5094ed;
}
